<ul class="dropdown-menu">
    <li>
        <a href="/CreateUsers/UpdateProfile"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Update Profile</a>
    </li>
    <li>
        <a href="/login/userchangepassword"><span class="glyphicon glyphicon-cog"></span>&nbsp;Change Password</a>
    </li>
    <hr />
    <li>
        <a href="~/Login/Logoff">
            <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
        </a>
    </li>
</ul>
