<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-color:blanchedalmond;color:orange;left:50%;text-align:center">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span style="font-size:50px;color:orange;font-family:'Berlin Sans FB'">Sorry Some Error Occured :( While Processing Your Request</span>
                    <div class="mb-4 lead">You Could Go Back or Login Again</div>
                    <a href="~/Login/Index" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
